// font family
$font-poppins: PoppinsRegular;
$font-sanfrancisco:sanfranciscodisplay-regular;

//color
$white-color: #fff;
$black-color: #000;
$primary-color: #383838;
$secondary-color: #747474;
$black-shadow: rgba(0, 0, 0, 0.4);
$sports-color: rgba(0, 90, 187, 0.89);
$entertainment-color: rgba(217, 0, 0, 0.8);
$blitz-color: rgba(77, 134, 15, 0.8);
$playwork-color: rgba(249, 108, 13, 0.8);
$media-color: rgba(124, 63, 188, 0.8);

//font size
$font12:12px;
$font14:14px;
$font16:16px;
$font18:18px;

//common styles
$padding0: 0px;


